html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#stickpad {
	position: relative;
	width: 50vmin;
	height: 0;
	padding-bottom: 50vmin;
	top: calc(40vh + 7vmin);
	margin: auto;
	background-color: #9E9E9E;
	border-radius: 10%;
}

#stick {
	position: relative;
	width: 20%;
	height: 0;
	padding-bottom: 20%;
	background-color: #757575;
	border-radius: 50%;
	touch-action: none
}