<!doctype html>
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<title>Car constructor tutorial | НИУ МАИ</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></link>
		<script type = "text/javascript" charset = "UTF-8" src = "{{ url_for('static', filename='js/ringBuffer.js') }}"></script>
		<script type = "text/javascript" charset = "UTF-8" src = "{{ url_for('static', filename='js/definitions.js') }}"></script>
		<script type = "text/javascript" charset = "UTF-8" src = "{{ url_for('static', filename='js/helperFunctions.js') }}"></script>
		<script type = "text/javascript" charset = "UTF-8" src = "{{ url_for('static', filename='js/callbacks.js') }}"></script>
	</head>
	<body>
		<div id = "info"></div>
		<div id = "stickpad"><div id = "stick"></div></div>
	</body>
</html>